html{
    font-size: 16px;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/*States*/
.hidden{
    display: none;
}


/*Typography and color*/
.header{
    font-size: 1.1rem;
    font-family: "Montserrat", monospace;
    font-weight: 700;
    /*background : #44c3fd;*/
}
.home{
    font-family: "Open Sans", sans-serif;
    background: #44c3fd;
}
.home__title{
    font-family: "Montserrat", sans-serif;
    font-size: 2.7em;
    font-weight: 800;
}
.home__body{
    font-weight: 400;
    font-size: 1.2rem;
}
.signup__input{
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    border: none;
}
.signup__btn{
    background: #ffa500;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.signup__btn:hover{
    cursor: pointer;
    background: #f09c00;
}
.signup__notice{
    font-size: 0.9rem;
}
.plans__title{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
}
.plan{
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 3px;
    border: 1px solid #aaa;
}
.plan__tier{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Montserrat,"Open Sans";
}
.plan__price{
    font-size: 2rem;
    font-weight: 600;
    font-family: Montserrat;
    border-bottom: 1px solid #aaa;
}
.plan__cycle{
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
}
.plan__features-title{
    text-decoration: underline;
    font-weight: 700;
}
.plan__features{
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 600;
}
.plan__billing{
    font-size: 0.85rem;
}
.plan__signup{
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3px;
    background: #fff;
    font-family: Montserrat, sans-serif;
}
.stripe_button{
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3px;
    background: #fff;
    font-family: Montserrat, sans-serif;
}
.plan:nth-child(1) .plan__tier, .plan:nth-child(1) .plan__price{
    background: #eee;
}
.plan:nth-child(2) .plan__tier, .plan:nth-child(2) .plan__price{
    background: #44c3fd /*#2196F3*/;
}
.plan:nth-child(3) .plan__tier, .plan:nth-child(3) .plan__price{
    background: #ffa500;
}
.plan:nth-child(1) .plan__signup:hover{
    background-color: #eee;
    cursor: pointer;
}
.plan:nth-child(2) .plan__signup:hover{
    background-color: #44c3fd;
    cursor: pointer;
}
.plan:nth-child(3) .plan__signup:hover{
    background-color: #ffa500;
    cursor: pointer;
}
.example{
    background: #eee;
}
.example__title{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
}
.example__body{
    font-family: "Open Sans", sans-serif;
}
.faq__title{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
}
.faq__body{
    font-family: "Open Sans", sans-serif;
}
.faq__question{
    font-weight: 700;
}
.faq__link{
    font-weight: 400;
    color: #111;
}
.footer{
    text-align: center;
    font-family: Montserrat, sans-serif;
    background: #eee;
}
.copyright{
    font-weight: 600;
}
.tos a, .privacy a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
}


/*Layout and positioning*/
.logo{
    padding: 0.816rem;
}
.home{
    padding: 4rem 2rem 2rem;
}
.home__title{
    text-align: center;
    padding-bottom: 1.618rem;
}
.home__body{
    text-align: center;
    padding-bottom: 1.618rem;
}
.signup{
    text-align: center;
    width: 90%;
    margin: 0 auto 0;
}
.signup__input{
    width: 100%;
    text-align: center;
    line-height: 2.618rem;
}
.signup__btn{
    width: 100%;
    line-height: 2.618rem;
}
.plans__title{
    text-align: center;
    margin: 1rem auto;
    width: 95%;
}
.plan{
    text-align: center;
    width: 95%;
    margin: 0.326rem auto 1rem;
}
.plan__tier{
    padding-top: 1rem;
}
.plan__features-title{
    padding-top: 0.3rem;
}
.plan__price{
    padding: 0.2rem 0 0.8rem;
}
.plan__features{
    margin: 0.146rem 0 0.618rem;
}
.plan__billing{
    padding-bottom: 0.2rem;
}
.plan__signup{
    width: 90%;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.example{
    padding: 2rem 0;
}
.example__title{
    padding: 2rem 0;
}
.example__body{
    width: 95%;
    margin: 0 auto;
    padding: 0.5rem 0;
}
.example pre{
    width: 95%;
    margin: 0 auto 1.5rem;
}
.faq{
    width: 90%;
    margin: 2rem auto;
}
.faq__title{
    padding: 2rem 0 1.618rem;
}
.faq__item{
    padding: 0.5rem 0;
}
.footer{
    padding: 1.618rem;
    width: 100%;
}

/*Laptop*/
@media only screen and (min-width: 900px){
    .home__title{
        padding-top: 4rem;
        padding-bottom: 2.618rem;
        font-size: 3rem;
    }
    .home__body{
        padding-bottom: 3rem;
        font-size: 1.2rem;
        width: 60%;
        margin: 0 auto;
    }
    .signup{
        width: 50%;
        padding-bottom: 2.618rem;
    }
    .plans{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
    }
    .plan{
        width: 33%;
        display: inline-block;
    }
}